.container{
    padding-top: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.fondoOP{
    background: rgba(0, 0, 0, .8);
    text-align: center;
}
.btn{
    font-size: 18px;
    margin-left: 41%;
    width: 18%;
    height: 60px;
}
.btn button{
    width: 100%;
    height: 45px;
    font-family: wha;

}
.entradaDatos{
    float: left;
    margin: 5px;
    height: 32px;
    
}
.entradaDatos input{
    height: 32px;
}
i{
    color: white;
}
h1{
    color: white;
    font-family: wha;
}
.pie{
    margin-top: 14%;
}
p{
  margin: 0;
  font-family: whit;
  font-size: 24px;
}
#ganso{
    position:absolute;
    height: 40px ;
    width: 40px;
    margin:10px;
}
@font-face{
    font-family: whit;
    src: url(fuentes/Montez-Regular.ttf);
}
@font-face{
    font-family: wha;
    src: url(fuentes/LuckiestGuy-Regular.ttf);
}